{% extends "base.html" %}

{% block content %}

<div><a href="./upload"><button>Добавить файл</button></a></div>

<!-- Контейнер с адаптиными блоками -->

<div class="masonry">

<!-- Адаптивные блоки с содержанием -->

{% for item in data %}
<div class="item">
<img src="{{ url_for('static', filename='pictures/{0}'.format(item[0]))}}" onclick="openPic(this);">
<br>{{item[1]}}
</div>
{% endfor %}

<!-- Конец адаптивных блоков с содержанием -->
 
</div>
    <!-- Конец контейнера с адаптивными блоками -->
{% endblock %}